<div class="container ng-scope" style="margin-top: 80px;">

       <ul class="nav nav-pills">
         <li class="active"><a data-toggle="pill" href="#home">physical likes</a></li>
         <li><a data-toggle="pill" href="#menu1">kitchen</a></li>

       </ul>

       <div class="tab-content">
         <div id="home" class="tab-pane fade in active">
           <h3>physical likes</h3>
           <p>like {{dctr.like}}</p>
           <p>{{dashCtrl.like}}</p>
           <p id="chartContainer" style="height: 300px; width: 800;">

         </div>
         <div id="menu1" class="tab-pane fade">
           <h3>kitchen</h3>
           <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
         </div>

       </div>
     </div>
