<head>
	<script type="text/javascript">
	window.onload = function () {

		//initial value of dataPoints
		var dps = [
		{label: "like", y: 5, boilerColor: 'green'},
		{label: "dislike", y: 6, boilerColor: 'red'},

		];

		var chart = new CanvasJS.Chart("chartContainer",{
			title: {
				text: "physical likes"
			},
			axisY: {
				suffix: " C"
			},
			legend :{
				verticalAlign: 'bottom',
				horizontalAlign: "center"
			},
			data: [
			{
				type: "column",
				bevelEnabled: true,
				indexLabel: "{y} C",
				dataPoints: dps
			}
			]
		});


		var updateInterval = 1000;


		var updateChart = function () {

			for (var i = 0; i <1; i++) {

				// // generating random variation deltaY
				// var deltaY = Math.round(2 + Math.random() *(-2-2));
				// var yVal = deltaY + dps[i].y > 0 ? dps[i].y + deltaY : 0;
				// var boilerColor;
        //
        //
				// // color of dataPoint dependent upon y value.
        //
				//  boilerColor =
				// yVal > 200 ? "#FF2500":
				//   dps[i].label == 'like' ? "#FF6000":
				//   dps[i].label == 'dislike' ? "#6B8E23 ":
				//  null;
        //

				// updating the dataPoint
				dps[i] = {label: dps[i].label , y: dps[i].y, color: dps[i].boilerColor};

			};

			chart.render();
		};

		updateChart();

		// update chart after specified interval
		//setInterval(function(){updateChart()}, updateInterval);


	}
	</script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/canvasjs/1.7.0/canvasjs.js"></script>
</head>
<body>
	<div id="chartContainer" style="height: 300px; width: 800;">
	</div>
</body>
</html>
